.photo-grid {
  display: grid;
  overflow-x: hidden;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  margin-top: 50px;
}
.center {
  margin-left: 100px;
  margin-right: 100px;
}

.customer-details-container {
  background-color: #eeeeee;
  flex: 2;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.customer-details-container h2 {
  grid-column-start: 1;
  grid-column-end: -1;
  margin-top: 0;
  text-align: center;
}

.customer-details-container p {
  grid-column-start: 1;
  grid-column-end: -1;
  margin-bottom: 10px;
  text-align: center;
}

.customer-image {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.customer-image-container {
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);
}

.customer-card {
  margin: 1px;
  background-color: #ffffff;
  padding: 40px 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.customer-card h3 {
  margin: 0;
  font-size: 20px;

  color: black;
  margin-bottom: 30px;
}

.selected-customer-card {
  background-color: #dedede;
}

.customer-card p {
  margin: 0;
  font-size: 16px;
  color: black;
}
