html,
body {
  margin: 0;
  height: 100%;
  background-color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
}

.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.title {
  align-self: center;
}

.left-container {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.right-container {
  flex: 2;
}
