.interactive-element {
  cursor: pointer;
}

.interactive-element:hover {
  background-color: #969696;
}

.interactive-element:focus {
  outline: none;
}

.interactive-element:active {
  background-color: #2d2d2d;
}
